---
import DiscussLayout from "../layouts/DiscussLayout.astro";
---

<DiscussLayout
    pageTitle="ناقش فكرتك | تَقِن"
    description="ناقش فكرتك مع تَقِن - للزبائن وحاملي المشاريع"
>
    <div class="form-container">
        <iframe
            data-tally-src="https://tally.so/r/Ek5vgX?transparentBackground=1&formEventsForwarding=1"
            width="100%"
            height="100%"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            title="ناقش فكرتك"></iframe>
    </div>
</DiscussLayout>
